/* section */
section {
    display: none;
    width: 40%;
    margin: 0 auto; /*center*/
}

section ul {
    list-style-type: decimal;
    display:inline-block;
    padding-left: 0;
    
}

section ul li {
    background-color: rgb(165, 107, 220);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

section.home {
    display: block;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/* grading area */
.judge-container {
    width: 40%;
    margin: 0 auto;
}

.judge-correct,
.judge-wrong {
    border-top: 1px solid grey;
    display: none;
}

/* result area */
.score-sheet-container {
    display: none;
    width: 40%;
    margin: 0 auto;
}

.score-sheet-container ul {
    list-style: none;
    padding-left: 0;
}

.current-time-container {
    text-align: right;
    font-size: 18px;
}

p {
    text-align: center;
    font-size: 20px;
}

#btn-start,
#btn-goback,
#btn-clear-score,
#submit {
    font-size: 16px;
    background-color: rgb(165, 107, 220);
}

